.PhaseInputContainer {
    display: flex;
    gap: 10px;
}

.PhaseInputContainer input {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.PhaseInputContainer button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}